/build
build/ios/Debug-iphoneos/Runner.app/Frameworks/url_launcher.framework/url_launcher
build/ios/Debug-iphoneos/Runner.app/Info.plist
build/ios/Debug-iphoneos/Runner.app/Frameworks/url_launcher.framework/url_launcher
build/ios/Debug-iphoneos/Runner.app/Frameworks/shared_preferences.framework/shared_preferences
lib/config.dart
/.dart_tool/
.flutter-plugins

.flutter-plugins-dependencies
android/key.properties
.DS_Store

