<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devinci.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
				<key>dateExpires</key>
				<string>01/02/2021</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>OktaStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_email_sender.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ota_update.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EEFB715A7B0BF2D9CE1FA6E9A9823E71B1EE1949</string>
						<key>dateExpires</key>
						<string>01/02/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MX9URQ7847</string>
						<key>name</key>
						<string>Dominique Pomerleau</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MX9URQ7847.eu.araulin.devinci</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MX9URQ7847</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>MX9URQ7847.eu.araulin.devinci</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>008ca6d7-4aba-4d61-b8d0-7a60e2669295</string>
				<key>name</key>
				<string>00008020-001064983681002e</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MX9URQ7847</string>
				<key>name</key>
				<string>Dominique Pomerleau</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
